@import url('../variables.css');

.custom-nav {
    background-color: var(--background-dark);
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    text-align: left;
    align-items: center;
}

.custom-nav a {
    color: var(--background-clear);
    text-decoration: none;
}

.custom-nav a:hover {
    color: var(--background-mid);
    text-decoration: underline;
    transition: 0.5s;
}

.custom-nav img.settings-icon {
    max-width: 5%;
    height: auto;
    object-fit: contain;
}

.custom-nav span {
    margin: auto 0;
}

.custom-nav-links {
    display: flex;
    gap: 20px;
}